.link-simple {
  color: var(--primary-600);
  display: inline-block;
  outline-offset: 0.25rem;
  padding-block-start: calc(1rem - 1cap);
  padding-bottom: 1rem;
  text-decoration: underline 0.1em var(--secondary-500);
  text-underline-offset: calc(var(--spacing-base) - 0.1em);
  transition: all 0.2s ease-in-out;
  width: max-content;
  justify-self: flex-end;
  margin: auto auto 0 0;

  &:focus {
    color: var(--color-primary);
  }
}

.link-feature {
  --justify: attr(justify type(<custom-ident>), right);

  box-shadow: 0 0 0 0 transparent;
  justify-self: if(style(--justify: left): start; else: end);
  line-height: 2.6;
  margin-block-end: var(--spacing-base);
  margin-inline: if(style(--justify: left): 0 auto; else: auto 0);
  outline: none;
  padding: calc(2rem - 1cap) 1rem 1rem 1rem;
  text-align: if(style(--justify: left): left; else: right);
  text-decoration: underline 2px var(--secondary-200);
  text-underline-offset: calc(var(--spacing-base) - 0.1em);
  transition: all 0.2s ease-in-out;
  align-self: end;

  &:link {
    color: var(--secondary-500);
  }

  &:visited {
    color: var(--secondary-200);
  }

  &:hover {
    color: var(--primary-700);
    background-color: var(--light-100);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--primary-500);
    text-underline-offset: calc(var(--spacing-base) - 0.55em);
    padding: 1rem 1rem calc(2rem - 1cap) 1rem;
  }

  &:active {
    color: var(--primary-900);
    text-decoration: none;
    box-shadow: 0 0 0 2px var(--primary-900);
  }
}
