@scope (.nav) {
  :scope {
    background-color: var(--nav-background, var(--light-100));
    display: var(--nav-display, grid);
    gap: var(--spacing-base);
    grid-auto-flow: var(--nav-auto-flow, row);
    grid-column: nav;
    grid-row: full;
    margin: 0 0 0 auto;
    max-width: max-content;
    padding: var(--nav-padding, var(--spacing-md));
    position-anchor: var(--nav-position-anchor, --buttonToggle);
    position: var(--nav-position, absolute);
    right: var(--nav-right, anchor(right));
    top: var(--nav-top, anchor(bottom));
    z-index: 1;

    @media screen and (width < 1480px) {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
      pointer-events: auto;
      transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out,
        visibility 0.3s ease-in-out;

      @starting-style {
        opacity: 0;
        transform: translateX(-10px);
        visibility: hidden;
      }

      &[hidden] {
        opacity: 0;
        transform: translateX(-10px);
        visibility: hidden;
        pointer-events: none;
      }
    }

    &[hidden] {
      @media screen and (width >= 1480px) {
        --nav-display: none;
      }
    }

    @media screen and (width >= 1480px) {
      --nav-display: grid;
      --nav-background: transparent;
      --nav-padding: var(--spacing-base);
      --nav-position: static;
      --nav-position-anchor: unset;
      --nav-right: unset;
      --nav-top: unset;
      --nav-auto-flow: column;
    }
  }

  .nav-item {
    --background-colour: var(--secondary-700);
    --colour: var(--light-100);
    --transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    align-items: center;
    background-color: var(--background-colour);
    color: var(--colour);
    display: flex;
    font-size: var(--text-base);
    text-align: center;
    text-decoration: none;
    transition: var(--transition);
    min-width: 7rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: var(--padding, 1rem 2rem);

    @media screen and (width >= 1480px) {
      --padding: 0;
    }

    svg {
      height: 1.1rem;
      width: 1.1rem;
    }

    &.active {
      --background-colour: var(--secondary-900);
      --colour: var(--primary-300);
    }

    &:hover {
      --background-colour: var(--secondary-800);
      --colour: var(--light-100);
    }
  }
}
