@scope (link-list) {
  :scope {
    display: grid;
    grid-column: span 2;
    row-gap: var(--spacing-md);
  }

  .link-list-heading h4 {
    padding: 0 !important;
  }

  .link-list-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-base);
    grid-column: span 2;
    display: grid;
    column-gap: var(--spacing-md);
    grid-template-columns: 7rem 1fr;

    li {
      display: flex;
    }
  }

  .link-list-item {
    color: var(--light-300);
    display: inline-block;
    font-size: var(--text-sm);
    outline-offset: 0.25rem;
    padding-block-start: calc(1rem - 1cap);
    padding-bottom: var(--spacing-base);
    text-decoration-color: var(--light-500);
    text-decoration: underline 0.1em var(--secondary-500);
    text-underline-offset: calc(var(--spacing-base) - 0.1em);
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--primary-100);
      text-decoration: underline;
    }
  }
}
