/* Global spacing scale (inherit) */
:where(html) {
  /* Spacing */
  --spacing-base: 1rem;
  --spacing-sm: calc(var(--spacing-base) * 0.5);
  --spacing-md: calc(var(--spacing-base) * 2);
  --spacing-lg: calc(var(--spacing-base) * 3);
  --spacing-xl: calc(var(--spacing-base) * 4);
  --spacing-xxl: calc(var(--spacing-base) * 5);

  /* Rounding chrome only */
  --round-up: calc-size(max-content, round(up, size, 1rem));
  --round-up-stretch: calc-size(stretch, round(up, size, 1rem));
  --round-down: calc-size(max-content, round(down, size, 1rem));
}
