main {
  display: grid;
  grid-area: main / breakout;
  grid-template-columns: subgrid;
  grid-template-rows: min-content;
  row-gap: var(--spacing-lg);
  grid-column: breakout;
}

main-content {
  display: grid;
  grid-auto-rows: min-content;
  grid-column: content;
  grid-template-columns: subgrid;
}

.box-crosshatch {
  background: var(--crosshatch);
  background-size: var(--box-hero-grid-size) var(--box-hero-grid-size);
  background-repeat: repeat, repeat;
  grid-column: breakout;
  padding-block: var(--spacing-base);
  view-transition-name: box-crosshatch;
  grid-template-columns: subgrid;
  display: grid;
  row-gap: var(--spacing-md);
}

box-grid {
  background-color: var(--light-100);
  background-image: var(--grid-css);
  column-gap: var(--column-gap, 0);
  display: flex;
  flex-direction: var(--direction, column);
  grid-column: var(--grid-column, content);
  padding-block: var(--spacing-lg);
  padding-inline: var(--spacing-lg);

  background-size: 1rem 1rem;
  background-position:
    0 11px,
    11px 0px;
}
