@scope (.header) {
  :scope {
    --grid-vertical-color: oklch(from var(--light-200) l c h / 0.08);
    --grid-horizontal-color: oklch(from var(--light-200) l c h / 0.08);

    /* Customize centered grid colors for header */
    --grid-light-color: var(--light-100); /* White */
    --grid-light-opacity: 0.4; /* Subtle visibility */

    /* background: paint(grid) var(--secondary-700); */
    display: grid;
    grid-area: header / full;
    grid-template-columns: [logo] 1fr [button-toggle] 4rem;
    grid-template-rows: 1fr 1fr;
    position: sticky;
    top: 0;
    view-transition-name: header;
    z-index: 1;

    background-color: var(--secondary-700);
    background-image: var(--grid-light-pattern);
    background-size: var(--grid-light-bg-size);
    background-position: var(--grid-light-bg-position);

    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      grid-area: full / breakout;
      background-image: var(--crosshatch-white-pattern);
      background-size: var(--box-hero-grid-size) var(--box-hero-grid-size);
    }

    @media screen and (width >= 480px) {
      grid-template-columns: [logo] 1fr [button-toggle] minmax(6rem, auto);
      grid-template-rows: 1fr;
      height: auto;
      row-gap: 0;
    }

    @media screen and (width >= 768px) {
      grid-template-columns: [logo] 1fr [button-toggle] 6rem;
      height: 4rem;
      height: var(--round-up);
      overflow: visible;
      row-gap: 0;
    }

    @media screen and (width >= 1480px) {
      grid-template-rows: [full-start] 1rem [centre-start] 2rem [centre-end] 1rem [full-end];
      grid-template-columns: subgrid [] [] [logo-start][logo-end nav-start] [] [] [] [] [] [nav-end] [];
    }
  }
}
