@scope (button-toggle) {
  :scope {
    --background-color: var(--secondary-500);
    --button-toggle-color: var(--light-100);
    --padding-right: calc(var(--spacing-md) + var(--scrollbar-width));

    align-items: center;
    anchor-name: --buttonToggle;
    background-color: var(--background-color);
    border: none;
    color: var(--button-toggle-color);
    cursor: pointer;
    display: flex;
    font-size: var(--font-scaled-lg);
    grid-column: button-toggle;
    grid-row: full;
    height: 4rem;
    justify-content: center;
    transition:
      background-color 0.2s ease,
      color 0.2s ease;

    button {
      background: none;
      border: none;
      color: var(--light-100);
      cursor: pointer;
      display: flex;
      justify-content: center;
      outline: none;
      padding-block: var(--spacing-base);
      padding-inline: var(--spacing-md) var(--padding-right);
      width: 100%;
    }

    &:is(:hover, :active) {
      --background-color: var(--secondary-600);
      --button-toggle-color: var(--secondary-300);
    }

    @media screen and (width >= 1480px) {
      display: none;
    }
  }
}
