@scope (box-grid) {
  .select-wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background: var(--dark-500);
    min-width: var(--round-up);
  }

  .select-label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: max-content;
    height: max-content;
    min-height: 2rem;
    min-width: 4rem;
  }

  .select {
    appearance: none;
    background-image: none;
    background: var(--light-100);
    border-radius: 0px;
    border: 1px solid var(--light-300);
    box-sizing: border-box;
    color: var(--dark-500);
    display: flex;
    font-size: var(--text-sm);
    height: 2rem;
    line-height: 0.8;
    outline: none;
    padding: 0.5rem 0.75rem;

    @supports (appearance: base-select) {
      appearance: base-select;
    }
  }
}
