@scope (snippet-block) {
  :scope {
    background-color: var(--light-100);
    grid-column: 1 / -1;
    height: var(--round-up);
    margin-block: var(--spacing-base) var(--spacing-md);
    max-width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: var(--spacing-lg) 0;
  }
}
