@scope (.cards-grid) {
  & {
    display: grid;
    gap: var(--spacing-base);
    grid-auto-rows: min-content;
    grid-column: content;
    grid-template-columns: subgrid;

    box-grid {
      @media screen and (width >= 1480px) {
        --grid-column: span 3;
      }
    }
  }
}
