@scope {
  & {
    --main-circle-color: var(--secondary-400);
    --small-circle-color: var(--triad-2);
    --main-circle-size: 1.2rem;
    --main-circle-radius: calc(var(--main-circle-size) / 2);
    --small-circle-size: calc(var(--main-circle-size) / 2);
    --small-circle-radius: calc(var(--small-circle-size) / 2);
    --orbit-radius: calc(
      var(--main-circle-radius) - var(--small-circle-radius)
    );

    --border-radius: 50%;
    --icon-fallback-display: block;
    --icon-animated-display: none;

    aspect-ratio: 1;
    position: relative;
    transform: rotate(0deg);
    transform-origin: center center;
    will-change: transform;
    transition: transform 0.5s ease;
    width: var(--main-circle-size);
    height: var(--main-circle-size);
    transform: rotate(0deg) translateZ(0);

    @supports (--test: sibling-index()) {
      --icon-fallback-display: none;
      --icon-animated-display: block;
    }

    .link-logo:hover & {
      transform: rotate(90deg);
      --border-radius: 0%;
    }

    @container (width >= 9rem) {
      --main-circle-size: 2.8rem;
    }
  }

  .circle {
    --hue: calc(sibling-index() * 50);
    --angle: calc((sibling-index() - 1) * 60deg);
    --orbit-y: calc(var(--orbit-radius) * sin(var(--angle)));
    --orbit-x: calc(var(--orbit-radius) * cos(var(--angle)));
    --center-offset: calc(50% - var(--small-circle-radius));

    aspect-ratio: 1;
    background-color: oklch(100% 100% var(--hue) / 0.5);
    border-radius: var(--border-radius);
    inset: 0;
    left: calc(var(--center-offset) + var(--orbit-x));
    position: absolute;
    top: calc(var(--center-offset) - var(--orbit-y));
    transform-origin: center;
    transition: border-radius 0.5s ease;
    width: var(--small-circle-size);
    will-change: border-radius;
  }

  svg {
    max-width: 45px;
    max-height: 45px;
  }
}
