/* All @property declarations (non-inherit) */
@property --gutter-columns {
  syntax: "*";
  initial-value: 0.5rem;
  inherits: false;
}

@property --end {
  syntax: "*";
  inherits: false;
  initial-value: 2;
}

@property --min-content {
  syntax: "*";
  inherits: false;
  initial-value: 20rem;
}

@property --begin {
  syntax: "*";
  inherits: false;
  initial-value: 2;
}

@property --gap {
  syntax: "*";
  inherits: false;
  initial-value: 1rem;
}
